<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARM" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyy-MM-dd'T'HH:mm:ss} [%t] %p %m%n</Property>
        <Property name="APP_LOG_ROOT">C:/log/restapi</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <!-- for error log -->
        <RollingFile name="errLog" fileName="${APP_LOG_ROOT}/restapi-err.log" filePattern="${APP_LOG_ROOT}/restapi-err-%d{yyyy-MM-dd}-%i.log">
            <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="24" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
        <!-- for standard log -->
        <RollingFile name="infoLog" fileName="${APP_LOG_ROOT}/restapi-info.log" filePattern="${APP_LOG_ROOT}/restapi-info-%d{yyyy-MM-dd}-%i.log">
            <LevelRangeFilter minLevel="ERROR" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.test.restapi" additivity="false" level="debug">
            <AppenderRef ref="errLog"/>
            <AppenderRef ref="infoLog"/>
        </Logger>
        <Root level="warm">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
